
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(227, 233, 157);
}

#container{
    display: grid;
    grid-template-columns:  repeat(auto-fill, 200px);
    gap: 20px;
    padding: 24px;

}

.box{
    height: 200px;
    padding: 18px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: rgba(53, 54, 55, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-add{
    height: 200px;
    border: none;
    outline: none;
    color:#fff;
    font-size: 20px;
    background-color:#5d9ac9;
    cursor: pointer;
}

.btn-add:hover{
    background-color: #0d3303;
    border-radius: 5px;
}